* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
    padding: 5vw 5vw 0 5vw;
    width: 100%;
    z-index: 2;
    background-color: #a4eaff;
}
.navbar-nav{
    display:sticky;
    flex-flow:wrap row;
    padding-left:1vw;
    width: 100%;

}
.navbar-brand{
    text-align:center;
}
.logo_Img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

#lower{
  background-color: #1d1d1d;
  color: #717171;
}

  
.expand {
  left: 0;
  right: 0;
  transition: all 0.3s ease;
}

.butaoDiv {
  position: relative;
}
  
.butao {
  text-align:center;
  margin-top:2vw;
}

.push{
  margin-left:auto;
}
/* barra lateral*/
.offcanvas-style {
  width: 250px;
}

.offcanvas-body {
  list-style: none;
  padding: 0;
  margin: 0;
}

.offcanvas-link {
  display: block;
  padding: 10px;
  color: #65c9f7;
  text-decoration: none;
  font-size: 24px;
  border-bottom: 1px solid #a4eaff;
}

.offcanvas-link:hover {
  background-color: #a4eaff;
}

.result-item {
  display: flex;
  align-items: center;
  padding: 8px;
}

.result-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  padding-top:6px;
}
